//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

configuration {
    display-drun: "Applications:";
    display-window: "Window:";
    drun-display-format: "{icon} {name}";
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
}

element-icon {
    font-size: 14;
}
